@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');





/* WAVES*/

.headerx {
  position: relative;
  text-align: center;
  background: linear-gradient(0deg, rgb(253 253 255) 0%, rgb(199,199,199) 100%);
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 9vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 1vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}





/**CAROUSEL**/

.col-carousel {
  margin: 70px 0;
}

/* owl nav */
.owl-prev span,
.owl-next span {
  color: #FFF;
}

.owl-next:hover,
.owl-prev:hover {
  background: none !important
}

.owl-prev span:hover,
.owl-next span:hover {
  color: #8199A3;
  ;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 0;
  height: 100%;
}

.owl-prev {
  left: 7px;
}

.owl-next {
  right: 7px;
}

/* removing blue outline from buttons */
button:focus,
button:active {
  outline: none;
}

/**/



#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}


.owl-item {
  border-radius: 15px
}





.container-owl-item {
  position: relative;
  text-align: center;
  color: rgb(72, 0, 0);
  
}



.container-owl-item>img {
  filter: brightness(70%);
  position: relative;
}

#carousel-zonas-all .container-owl-item>img:hover {
  filter: contrast(0.5);
  position: relative;
}




.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 3px 10px #000000;
  font-size: 2.5rem;
  line-height: 2.0rem;
}

.centered-subtitle {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 3px 10px #000000;
  font-size: 1.2rem;
  line-height: 1.0rem;
}

.container-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}



.home-carousel {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  position: absolute !important;
  top: 50% !important;
  left: 20% !important;
  transform: translate(-12%, -50%) !important;
}


.container-body-title {
  font-family: 'Oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 174, 0);
  font-weight: 600;
  text-shadow: 0px 3px 10px #000000;
  font-size: 2.2rem;
  line-height: 2.3rem;
}

.container-body-subtitle {

  text-shadow: 0px 3px 10px #000000;
  font-size: 0.8rem;
  line-height: 0.9rem;
  font-weight: 100;
}

.carousel-home {
  font-size: 3.0rem !important;
  line-height: 3.1rem;
}

@media (max-width: 768px) {
  .container-body-title {
   
    font-size: 1.8rem;
    line-height: 1.9rem;
  }
  .container-body-subtitle {
    text-shadow: 0px 3px 10px #000000;
    font-size: 0.7rem;
    line-height: 0.8rem;
    font-weight: 100;
  }

}


@media (max-width: 576px) {
  .container-body-title {
   
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
  .container-body-subtitle {
    text-shadow: 0px 3px 10px #000000;
    font-size: 0.5rem;
    line-height: 0.6rem;
    font-weight: 100;
  }

}



