{% extends 'base2.html' %}
{% comment %} {% load compress %} {% endcomment %}

{% load static %}

{% load mathfilters %}

{% block title %}{{title}}{% endblock  %}

{% block style_header %}

  
      <link  href="{% static '/css/mapas-index-style.css' %}" rel="stylesheet" type="text/css" >
  

        
    <style>
        .card-mapas-41zre{

            border: 1px solid  rgba(0, 0, 0, 5%);
        }
        .card-mapas-41zre:hover{

            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);

        }
        .ri-lg {
            font-size: 1.3333em;
            line-height: 0.75em;
            vertical-align: -5px;
        }
        /* Background Styles*/

        .bg-map-img{
            object-fit: cover;
            width: 100%;
            height: 150px;
            filter: brightness(0.5);
        }
        .icon-list span{
            color: #fff !important;
        }
    </style>
    
    

{% endblock  %}

{% block navbar %}
    {% include 'includes/navbar2.html' %}
{% endblock  %}

{% block content %}

  

    <!-- ======= Features Section ======= -->
    <section id="features" class="features call-to-action" style="background-image: url('{% static "/images/misc/BACK--00.png" %}')">

        <div class="container mt-5 pt-5" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
              <h1 class="text-white">Mapas Territoriales <br><strong>del Cusco</strong></h1>
  
              <div class="row gy-4 mt-3">
  
                <!--<div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-store-line" style="color: #ffbb2c;"></i>
                    <span class="text-warning">Easy Cart Features</span>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                    <span>Sit amet consectetur adipisicing</span>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
                    <span>Ipsum Rerum Explicabo</span>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
                    <span>Easy Cart Features</span>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-database-2-line" style="color: #47aeff;"></i>
                    <span>Easy Cart Features</span>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
                    <span>Sit amet consectetur adipisicing</span>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <span>Ipsum Rerum Explicabo</span>
                  </div>
                </div>-->
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-store-line" style="color: #ffbb2c;"></i>
                    <span class="text-warning">Opendata :: Datos Abiertos</span>
                  </div>
                </div><!-- End Icon List Item-->
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                    <span>Opensource :: Software Libre</span>
                  </div>
                </div><!-- End Icon List Item-->
              </div>
            </div>
            <div class="col-lg-5 position-relative" data-aos="fade-left" data-aos-delay="200">
              <div class="phone-wrap">
                <img src=" {% static '/images/misc/hand-smartphone-map-resized.png' %}" alt="Image" class="img-fluid">
                
              </div>
            </div>
          </div>
          
        </div>
        <div class="details wrapper">
          <div class="container">
            <div class="row">
              {% for mapalink in mapasweb %}
          
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card text-white card-has-bg click-col" style="background-image:url('{% static '/images/mapasweb/'|add:mapalink.image %}');">
                      <img class="card-img d-none" src="{% static '/images/mapasweb/'|add:mapalink.image %}" alt="">
                        <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2">{{mapalink.descripcion}}</small>
                            <h4 class="card-title mt-0 "><a class="text-white" href="{{WebsiteName.ip_production}}/{{mapalink.url}}">{{mapalink.nombre}}</a></h4>
                          <small><i class="far fa-clock"></i> Octubre 19, 2022</small>
                          </div>
                          <div class="card-footer">
                          <div class="media">
                            <img class="mr-3 rounded-circle" src="{% static '/images/icon_play_store.png' %}" alt="Generic placeholder image" height=50px width=50px style="max-width:50px">
                            
                            <div class="media-body">
                              <h6 class="my-0 text-white d-block">SGOTP</h6>
                              <small>Proyecto 41ZRE</small>
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>
                  </div>
      
                {% endfor %}
            </div>
          </div>
        </div>
  
    </section>


{% endblock  %}


{% block javascript_extra_footer %}

  


{% endblock  %}