{% comment %} {{zonas}} {% endcomment %}
{% comment %} {{ current_year }} {% endcomment %}
<div class="owl-carousel owl-theme" id="owl-zonas-mini" data-aos="fade-up" data-aos-once="false">
    {% for zona  in zonas %}
        <div class="item container-owl-item text-light"> 
            <img src="{{WebsiteName.ip_production}}:90/zre41media/images/cards/{{zona.image}}" alt="">
            <!--<h5>{{item}}</h5>-->
            <div class="container-body home-carousel">
                <p class="container-body-title">{{zona.codigo_zona}}</p>
                {% for plan in zona.plan_set.all %}
                
                <p class="container-body-subtitle">{{plan.nombre}}</p>
                {% endfor %}
                <p class="container-body-subtitle">distritos {{zona.distrito}}</p>
                
                {% comment %} <a href="{{WebsiteName.ip_production}}/41zre/41zre{{zona.codigo_zona}}" class="btn btn-outline-warning btn-block">ver más</a> {% endcomment %}
                <a href="{{WebsiteName.ip_production}}/zonas/{{zona.codigo_zona}}" class="btn btn-outline-warning btn-block">ver más</a>
            </div>
        </div>
    {% endfor %}

</div>