{% extends "base2.html" %}
{% load static %}




{% block content %}
<script>
    const labels = [
      {%for data in qs%}'{{data.editor_name}}',{%endfor%}
    ];
  
    const data = {
      labels: labels,
      datasets: [{
        label: 'My First dataset',
        backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', 
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
        borderWidth: 1,
        data: [{%for data in qs%}{{data.num_users}},{%endfor%}],
      }]
    };
  
    const config = {
      type: 'doughnut',
      data: data,
      options: {}
    };
  </script>

<div>
    <canvas id="myChart"></canvas>
  </div>

  <script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>
   

{% endblock  %}