<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
      integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E="
      crossorigin="anonymous"
    />
    <!--VEr 1-->
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
    <!--VEr 2-->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>

  </head>
  <body>
    <!--<h1>{{codigo_zona}}</h1>-->

    {% comment %} {% for mapa in mapaslist %}
    <p>{{mapa}}</p>
    {% endfor %} {% endcomment %} {% comment %} {% for po in poblacion %}
    <p>{{po.ge_0_5}}</p>
    <p>{{po.ge_6_12}}</p>
    <p>{{po.ge_13_18}}</p>
    {% endfor %} {% for po in poblacion_tabla %}
    <p>{{po.rango}}</p>
    {% endfor %} {% endcomment %}



    <div class="container tablas-stats-zona">
    
      
      <div class="row">
        <div class="col-12 col-sm-12">
            <!--<table class="table ">
                <thead>
                    <tr>
                        {% for col in poblacion_tabla %}
                            <th>{{col.rango}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for val in poblacion_tabla %}
                            <td>{{val.valor}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>-->
            <table class="table table-bordered table-striped table-hover table-responsive table-sm">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center">POBLACIÓN {{codigo_zona}} - CUSCO</th>
                        
                    </tr>
                <thead>
                    <tr>
                        <th width=70%>Grupo Etario</th>
                        <th width=30%>Población</th>
                    </tr>
                </thead>
                <tbody>
                 {% for val in poblacion_tabla %}
                    <tr>
                            <td>{{val.rango}}</td>
                            <td class="text-end" >{{val.valor}}</td>
                        </tr>
                 {% endfor %}
                 <tr>
                  <td class="fw-bold">TOTAL</td>
                  <td class="text-end fw-bold" >{{total_poblacion}}</td>
                 </tr>
                </tbody>
                <tr>
                   <td colspan='2'><span style="font-size:10px;"><strong>Elaboración:</strong> Equipo técnico PM41ZRE.</span></td>
                   
               </tr>
            </table>
        </div>
        <div class="col-12 col-sm-12">
            <canvas id="myChart2"  width="250" height="200"></canvas>
        </div>
      </div>

    </div>

  



    <!--VER 2-->
    <script>
        Chart.plugins.register({
            id: 'ChartDataLabels'
          });
          
          var ctx = document.getElementById("myChart2").getContext("2d");

          var chart = new Chart(ctx, {
            type: "doughnut",
            data: {
              labels: [{%for data in poblacion_tabla%}'{{data.rango}} \n años',{%endfor%}],
              datasets: [{
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(25, 159, 0, 0.2)'
                    ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(25, 159, 0, 1)'
                        ],
                data: [{%for data in poblacion_tabla%}{{data.valor}},{%endfor%}],
              }]
            },
            showDatapoints: true,
            options: {
              legend: {
                // position: "left"
                display: false
              },
                layout: {
                  padding: {
                      left: 50,
                      right: 50,
                      top: 40,
                      bottom: 50
                  }
              },
              plugins: {
                  datalabels: {
                    color: '#000',
                    align: 'end',
                    anchor: 'end',
                    formatter: function(value, context) {
                      return context.chart.data.labels[context.dataIndex];
                    },
                    font: {
                      size: 11,
                      style: 'bold',
                    }
                  }
               },
            }
          });
    </script>
    


  </body>
</html>
