<!-- templates/stats.html -->
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <h1>HI</h1>
    <div style="width: 100%; height: 20em; margin-top: 3em;">
        <canvas id="myChart" style="margin-bottom: 30px; width: 90%; height: 100%;"></canvas>
    </div>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
  
        const views = {{ view_s | safe }};

        console.log(views);
  
        views.forEach((d) => {
          d.x = new Date(d.date);
        });
  
        // Render the chart
        const chart = new Chart(ctx, {
          type: 'line',
          data: {
            datasets: [
            {
                label: 'Visitas',
                data: views,
                borderColor: 'rgba(20,20,220,0.5)',
                backgroundColor: 'rgba(0, 0, 0, 0)'
              },
            ],
          },
          options: {
            responsive: true,
            scales: {
              xAxes: [
                {
                  type: 'time',
                  time: {
                    unit: 'day',
                    round: 'day',
                    displayFormats: {
                      day: 'MMM D',
                    },
                  },
                },
              ],
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                  },
                },
              ],
            },
          },
        });
  </script>
</body>

</html>